/* first of all style the header:
1. Add fonts to the css files, in my case roboto
2. Adjust positions of links and logo (add 2 dif div classes)
3. Adjust h1 which is a hero text and make it bolder
4. Adjust paragraph make font smaller and lower conrast
5. Adjust the sign up button (change background color, text color)
6. Adjust image and set limits */
* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;

}
ul {
    list-style: none;

}
a {
    text-decoration: none;
}